[Unit]
Description=Watch TV server
After=network.target

[Service]
ExecStart=/usr/bin/php /your/path/to/watchtv/server.php
Type=simple
User=<your user>
Group=<your group>
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target
