#channelContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

#channelContainer > * {
    padding: 10px 5px 10px 5px;
}

#channelContainer .channel {
    height: 100%;
}

#channelContainer a {
    display: block;
    overflow: hidden;
    text-decoration: none;
    height: 100%;
}

nav ul {
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}