a.channel {
    display: block;
    margin: 10px;
    padding: 10px 5px 10px 5px;
    overflow: hidden;
}

nav ul {
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}