.epgAndChannelContainer {
    display: flex;
}

.channelNames {
    max-width: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.epgContainer {
    flex-grow: 2;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 50%;
}


.bordered {
    outline: solid 1px darkgray;
}

.commonHeight {
    height: 30px;
}

.epgContainer, .channel, .hours, .days {
    position: relative;
}

.event {
    position: absolute;

    /* No new lines and ellipsis */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    line-height: 28px;
}

.hourStep, .dayStep {
    position: absolute;
    line-height: 28px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome, Opera and Firefox */
}

.nowLine {
    position: absolute;
    top: 0px;
    width: 2px;
    border: 1px solid red;
}



.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 80%;
    max-width: 600px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}